name: hello-world
on:
  push:

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Failing step
        run: exit 1  

  another-job:
    runs-on: ubuntu-latest
    steps:
      - name: Second step
        run: echo "This job runs but overall workflow will fail"
